.note-content-switcher {
    --badge-radius: 12px;
    position: relative;
    top: 5px;
    display: flex;
    min-height: 35px;
    gap: 5px;

    .ext-badge {
        --color: var(--input-background-color);
        color: var(--main-text-color);
        font-size: 0.9rem;
        flex-shrink: 0;
    }
}
