.component.status-bar {
    contain: none;
    border-top: 1px solid var(--status-bar-border-color);

    > .status-bar-main-row {
        min-height: 28px;
        display: flex;
        align-items: center;
        background-color: var(--left-pane-background-color);
        padding-inline: 0.25em;
        font-size: 0.85em;

        > .breadcrumb {
            flex-grow: 1;
            --icon-button-size: 23px;
        }

        > .actions-row {
            padding: 0.1em;
            display: flex;
            gap: 0.1em;

            .btn {
                padding: 0 0.5em !important;
                background: transparent;
                display: flex;
                align-items: center;
                border: 0;

                span:first-of-type {
                    font-size: 1rem;
                }

                &.active,
                &.dropdown-toggle.show,
                &:focus,
                &:hover {
                    background: var(--input-background-color);
                }
            }

            .status-bar-dropdown-button {
                &:after {
                    content: unset;
                }
            }
        }

        .dropdown {
            .dropdown-toggle {
                padding: 0.1em 0.25em;
            }

            .dropdown-menu {
                width: max-content;
            }
        }

        .dropdown-note-info {
            padding: 1em !important;

            ul {
                --row-block-margin: .2em;

                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-top: calc(0px - var(--row-block-margin));
                margin-bottom: 12px;
                display: table;

                li {
                    display: table-row;

                    > strong {
                        display: table-cell;
                        padding: var(--row-block-margin) 0;
                        opacity: .5;
                    }

                    > span {
                        display: table-cell;
                        user-select: text;
                        padding-left: 2em;
                    }
                }
            }
        }

        .dropdown-note-paths {
            .note-paths-widget {
                padding: 0.5em;
            }
        }

        .backlinks-widget > .dropdown-menu {
            --menu-padding-size: .9em;

            max-height: 60vh;
            overflow-y: scroll;
        }
    }

    > .attribute-list {
        font-size: 0.9em;

        .attributes-panel-label {
            opacity: .5;
            margin-inline-end: 4px;
            font-weight: 600;
        }

        .inherited-attributes-widget {
            display: inline;

            > div {
                display: inline;
                padding: 0;
            }
         }

         .attribute-list-editor-wrapper {
            display: flex;
            flex-direction: column-reverse;
            padding-bottom: 0 !important;

            .attribute-list-editor {
                padding-block: 0 !important;
                padding-inline: 0 100px !important ;
            }

            .attribute-errors {
                padding: 4px 0;
                color: var(--dropdown-item-icon-destructive-color);
                font-style: italic;
            }

            .ck.ck-editor__editable::after {
                /* Remove a hidden spinner that causes overflow */
                display: none;
            }
         }


    }

    div.similar-notes-widget div.similar-notes-wrapper {
        max-height: unset;
    }

    button.select-button:not(:focus-visible) {
        outline: none;
    }

}

.bottom-panel {
    margin: 0 !important;
    padding: 0;

    body.layout-horizontal.background-effects & {
        /* Do not apply Mica over the bottom panel in the horizontal layout */
        background: var(--right-pane-background-color);
    }

    .bottom-panel-title-bar {
        display: flex;
        padding: 6px 12px;
        background: var(--bottom-panel-title-bar-background-color);
        justify-content: space-between;
        align-items: center;

        .bottom-panel-title-bar-caption {
            text-transform: uppercase;
            letter-spacing: .3pt;
            font-weight: 600;
            font-size: .85em;
        }
    }

    .bottom-panel-content {
        border-bottom: 1px solid var(--main-border-color);
        background: var(--bottom-panel-background-color);
        padding: 8px 12px;
        max-height: 40vh;
        overflow-y: auto;
        animation: fade-in 200ms ease-in;
    }
}

