body.setup .setup-container.login-container {
    height: auto;
    padding-block: 4em;

    .illustration-logo {
        --size: 162px;
    }

    .oidc-login {
        padding: 1.25rem 4rem;
        font-weight: 500;
        margin: auto;

        img {
            margin-inline-end: 10px;
            width: 18px;
            height: 18px;
        }
    }
}
