body.setup .setup-container.login-container {
    height: auto;
    padding-block: 4em;

    .illustration-logo {
        --size: 162px;
    }

    .google-login-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--input-background-color);
        color: var(--main-text-color);
        border: 1px solid var(--main-border-color);
        border-radius: 4px;
        padding: 1.25em 4em;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 20px;
        text-decoration: none;
        transition: background-color 0.3s;
        margin: auto;
    }

    .google-login-btn:hover {
        background-color: var(--hover-item-background-color);
    }

    .google-login-btn img {
        margin-inline-end: 10px;
        width: 18px;
        height: 18px;
    }
}
