html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body.setup {
    margin: 0;
    padding: 0;

    &>div {
        background: var(--left-pane-background-color);
        padding: 2em;
        width: 600px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .setup-container {
            background-color: var(--main-background-color);
            border-radius: 16px;
            padding: 2em;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: 550px;
            width: 700px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, var(--dropdown-shadow-opacity));

            .setup-options {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .setup-option-card {
                    padding: 1.5em;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &:hover {
                        background-color: var(--card-background-hover-color);
                        filter: contrast(105%);
                        transition: background-color .2s ease-out;
                    }

                    .tn-icon {
                        font-size: 2.5em;
                        color: var(--muted-text-color);
                    }

                    h3 {
                        font-size: 1.5em;
                        font-weight: normal;
                    }

                    p:last-of-type {
                        margin-bottom: 0;
                        color: var(--muted-text-color);
                    }
                }
            }
        }

        .page {
            display: flex;
            flex-direction: column;
            height: 100%;

            >main {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            >footer {
                display: flex;
                justify-content: flex-end;
                gap: 0.5rem;
                border-top: 1px solid var(--main-border-color);
                padding-top: 1rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            gap: 1rem;
            width: 80%;
            margin: auto;
        }

        .form-item-with-icon {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .tn-icon {
                font-size: 1.5em;
                color: var(--muted-text-color);
            }
        }
    }
}
