<!DOCTYPE html>
<html lang="en">
<body
>

<link href="<%= assetPath %>/stylesheets/ckeditor-theme.css" rel="stylesheet">
<link href="api/fonts" rel="stylesheet">

<script src="<%= appPath %>/desktop.js" crossorigin type="module"></script>

</body>
</html>
