.rendered-content.no-preview > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 500%;
    flex-grow: 1;
}
