.modal.tab-bar-modal {
    .modal-dialog {
        max-height: unset;
        height: 95vh;
    }

    .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}
