.modal.tab-bar-modal {
    .modal-dialog {
        max-height: unset;
        height: 95vh;
    }

    .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        .tab-card {
            background: var(--card-background-color);
            border-radius: 1em;
            min-width: 0;

            &.active {
                outline: 4px solid var(--more-accented-background-color);
                background: var(--card-background-hover-color);

                .title {
                    font-weight: bold;
                }
            }

            header {
                padding: 0.5em 1em;
                border-bottom: 1px solid var(--main-border-color);
                display: flex;
                overflow: hidden;

                .title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    font-size: 0.9em;
                }
            }

            .tab-preview {
                height: 180px;
                overflow: hidden;
                font-size: 0.5em;
                user-select: none;
                pointer-events: none;

                &.type-text {
                    padding: 10px;
                }

                p { margin-bottom: 0.2em;}
                h2 { font-size: 1.20em; }
                h3 { font-size: 1.15em; }
                h4 { font-size: 1.10em; }
                h5 { font-size: 1.05em}
                h6 { font-size: 1em; }
            }
        }
    }
}
