.about-dialog {
    h2 {
        all: unset;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: 1pt;
    }

    .about-dialog-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .property-sheet-card {
        margin-block: 30px;
        font-size: .85em;

        .tn-card-section {
            display: flex;

            > :first-child {
                width: 100px;
            }
        }
    }

    .build-info {
        color: var(--muted-text-color);
        font-size: .9em;
    }

    .contributor-list {
        a, span {
            white-space: nowrap;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px 10px;
            border-radius: 6px;
            font-size: .9rem;
            color: var(--main-text-color);
            
            &:hover {
                background: var(--icon-button-hover-background);
            }

            &::after {
                display: none;
            }

            i {
                font-size: 28px;
            }

            &.donate-link {
                color: #E33F3B;
            }
        }
    }
}