.tn-backlinks-widget .backlinks-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    width: unset;

    > li {
        --border-radius: 8px;

        max-width: 600px;
        padding: 10px 20px;
        background: var(--card-background-color);

        & + li {
            margin-top: 2px;
        }

        &:first-child {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        &:last-child {
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        /* Card header */
        & > span:first-child {
            display: block;

            > span {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                /* Note path */
                > small {
                    flex: 100%;
                    order: -1;
                    font-size: .65rem;

                    .note-path {
                        padding: 0;
                    }
                }

                /* Note icon */
                > .tn-icon {
                    color: var(--menu-item-icon-color);
                }

                /* Note title */
                > a {
                    margin-inline-start: 4px;
                    color: currentColor;
                    font-weight: 500;
                }
            }
        }

        /* Card content - excerpt */
        & > span:nth-child(2) > div {
            all: unset; /* TODO: Remove after disposing the old style from FloatingButtons.css */
            display: block;

            margin: 8px 0;
            border-radius: 4px;
            background: var(--quick-search-result-content-background);
            padding: 8px;
            font-size: .75rem;

            a {
                background: transparent;
                color: var(--quick-search-result-highlight-color);
                text-decoration: underline;
            }

            p {
                margin: 0;
            }
        }
    }
}
