.note-indicator-icon.subtree-hidden-badge {
    font-family: inherit !important;
    margin-inline-start: 0.5em;
    background: var(--left-pane-item-action-button-background);
    color: var(--left-pane-item-action-button-color);
    padding: 0.25em;
    border-radius: 0.5em;
    font-size: 0.7rem;
    font-weight: normal;
}
