.search-result-widget {
    flex-grow: 100000;
    flex-shrink: 100000;
    contain: none !important;
}

.search-result-widget .note-list-wrapper {
    margin-inline: var(--content-margin-inline);
}

.note-split.type-search .scrolling-container {
    display: flex;
    flex-direction: column;
}
