.protected-session-password-component {
    display: flex;
    margin-inline: 40px;
    flex-direction: column;
    justify-content: center;

    .protected-session-password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20vh;
    }

    .form-group {
        text-align: center;
        color: var(--muted-text-color);
    }

    .form-icon {
        font-size: 140px;
        color: var(--main-border-color);
    }

    .protected-session-password {
        margin-inline: auto;
        max-width: 350px;
        text-align: center;
    }

    input,
    button {
        margin-top: 12px;
    }
}

