.sql-console-widget-container {
    .note-detail-split.split-vertical {
        flex-direction: column-reverse;
    }

    .note-detail-split-preview {
        overflow: auto;
    }

    .sql-result-widget  {
        height: 100%;

        > .sql-console-result-container {
            width: 100%;
            height: 100%;
            font-size: smaller;
            flex-grow: 1;
            overflow: auto;
            min-height: 0;

            > .tabulator {
                height: 100%;
            }
        }
    }
}

