.sql-console-widget-container {
    .note-detail-split.split-vertical {
        flex-direction: column-reverse;
    }

    .note-detail-split-preview {
        overflow: auto;
    }

    .sql-console-result-container td {
        white-space: preserve;
    }
}

