.sql-console-widget-container {
    .note-detail-split.split-vertical {
        flex-direction: column-reverse;
    }

    .note-detail-split-preview {
        overflow: auto;
    }

    .sql-console-result-container {
        width: 100%;
        font-size: smaller;
        flex-grow: 1;
        overflow: auto;
        min-height: 0;
    }
}

