.note-list {
    overflow: visible;
    position: relative;
    height: 100%;

    .note-list-wrapper {
        height: 100%;
        overflow: auto;
    }
}

/* #region List view / Grid view common styles */

.nested-note-list-item h5,
.note-book-card .note-book-header {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: normal;
    margin: 0;

    .tn-icon {
        font-size: 1.2em;
        margin-inline-end: 8px;
    }

    .note-book-title {
        --link-hover-background: transparent;
        --link-hover-color: currentColor;
        color: inherit;
        font-weight: normal;
    }

    .note-book-item-menu {
        margin-inline-start: 8px;
        flex-shrink: 0;
    }
}

.nested-note-list-item.use-note-color,
.note-book-header.use-note-color {
    span.tn-icon + span,
    .tn-icon,
    .rendered-note-attributes {
        color: var(--custom-color);
    }
}

/* Search result view */
.nested-note-list.search-results .nested-note-list-item,
.note-list-container.search-results .note-book-card .note-book-header {
    span.tn-icon + span > span {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    small {
        line-height: .85em;
    }

    .note-path {
        margin-left: 0;
        font-size: .85em;
        line-height: .85em;
        font-weight: 500;
        letter-spacing: .5pt;
    }

    .tn-icon {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 1.75em;
        height: 1.75em;
        margin-inline-end: 12px;
        border-radius: 50%;
        background: var(--note-icon-custom-background-color, var(--note-list-view-large-icon-background));
        font-size: 1.2em;
        color: var(--note-icon-custom-color, var(--note-list-view-large-icon-color));
    }

    .ck-find-result {
        background: var(--note-list-view-search-result-highlight-background);
        color: var(--note-list-view-search-result-highlight-color);
        font-weight: 600;
        text-decoration: underline;
    }
}

@keyframes note-preview-show {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.nested-note-list .note-book-content,
.note-list-container .note-book-content {
    display: none;
    animation: note-preview-show .25s ease-out;
    will-change: opacity;

    &.note-book-content-ready {
        display: block;
    }

    .ck-find-result {
        outline: 2px solid var(--note-list-view-content-search-result-highlight-background);
        border-radius: 4px;
        background: var(--note-list-view-content-search-result-highlight-background);
        color: var(--note-list-view-content-search-result-highlight-color);
    }
}

.note-book-content {
    height: 100%;

    &.type-image, &.type-file, &.type-protectedSession {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        flex-grow: 1;
    }

    &.type-image img, &.type-canvas svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

/* #endregion */

/* #region List view */

.nested-note-list {
    --card-nested-section-indent: 25px;

    &.search-results {
        --card-nested-section-indent: 32px;
    }
}

/* List item */
.nested-note-list-item {

    .note-expander {
        margin-inline-end: 4px;
        font-size: x-large;
        cursor: pointer;
    }

    .tn-icon {
        color: var(--note-list-view-icon-color);
    }

    .note-path {
        margin-left: 0.5em;
        vertical-align: middle;
        opacity: 0.5;
    }

    .note-list-attributes {
        flex-grow: 1;
        margin-inline-start: 1em;
        text-align: right;
        font-size: .75em;
        opacity: .75;
    }

    &.archived {
        span.tn-icon + span,
        .tn-icon {
            opacity: .6;
        }
    }
}

.nested-note-list:not(.search-results) h5 {
    span.tn-icon + span,
    .note-list-attributes {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/* Note content preview */
.nested-note-list .note-book-content {
    outline: 1px solid var(--note-list-view-content-background);
    border-radius: 8px;
    background-color: var(--note-list-view-content-background);
    overflow: hidden;
    user-select: text;
    font-size: .85rem;

    > .rendered-content > *:last-child {
        margin-bottom: 0;
    }

    &.type-text {
        padding: 8px 24px;

        .ck-content > *:last-child {
            margin-bottom: 0;
        }
    }

    &.type-protectedSession {
        padding: 20px;
    }

    &.type-image {
        padding: 0;
    }

    &.type-pdf {
        iframe {
            height: 50vh;
        }

        .file-footer {
            padding: 8px;
        }
    }

    &.type-webView {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 50vh;
    }
}

.note-content-preview:has(.note-book-content:empty) {
    display: none;
}

/* #endregion */

/* #region Grid view */

.note-book-card {
    --note-list-horizontal-padding: 22px;
    --note-list-vertical-padding: 15px;
    
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    border: 1px solid var(--card-border-color) !important;
    border-radius: 12px;
    background-color: var(--card-background-color, var(--accented-background-color));
    padding: 0;
    overflow: hidden;
    user-select: none;

    &:hover {
        background-color: var(--card-background-hover-color);
        filter: contrast(105%);
        transition: background-color 200ms ease-out;
    }

    &:active {
        transform: scale(.98);
    }

    &.archived {
        opacity: 0.5;
    }

    .note-book-header {
        margin-bottom: 0;
        border-bottom: 1px solid var(--main-border-color);
        padding-bottom: .5rem;
        word-break: break-all;
        flex-shrink: 0;
        padding: .5em 1em;
        padding-inline-end: 8px;
        border-bottom-color: var(--card-border-color);

        .tn-icon + span {
            flex-grow: 1;
            a {
                font-weight: 500;
            }
        }
    }

    &.type-image .note-book-content img,
    &.type-text .note-book-content img,
    &.type-canvas .note-book-content img {
    max-width: 100%;
    max-height: 100%;
}

}

.note-list.grid-view .note-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.note-list.grid-view .note-book-card {
    flex-basis: 300px;
    border: 1px solid transparent;
}

body.mobile .note-list.grid-view .note-book-card {
    flex-basis: 150px;
}

.note-list.grid-view .note-book-card {
    max-height: 300px;
}

.note-list.grid-view .note-book-card img {
    max-height: 220px;
    object-fit: contain;
}

.note-list.grid-view .note-book-card:hover {
    cursor: pointer;
    border: 1px solid var(--main-border-color);
    background: var(--more-accented-background-color);
}

.note-list.grid-view .note-path {
    margin-left: 0.5em;
    vertical-align: middle;
    opacity: 0.5;
}

.note-book-card .note-book-content {
    padding: 0;
    font-size: 0.8rem;
    
    .ck-content p {
        margin-bottom: 0.5em;
        line-height: 1.3;
    }

    .ck-content figure.image {
        width: 25%;
    }

    .rendered-content {
        padding: 1rem;
    }

    &.type-image .rendered-content,
    &.type-pdf .rendered-content {
        padding: 0;
    }

    .rendered-content.text-with-ellipsis {
        padding: 1rem !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
        color: var(--active-item-text-color);
    }

    p:last-child {
        margin-bottom: 0;
    }

    &.type-canvas .rendered-content,
    &.type-mindMap .rendered-content,
    &.type-code .rendered-content,
    &.type-video .rendered-content {
        padding: 0;
    }

    &.type-code {
        height: 100%;
    }

    &.type-code pre {
        height: 100%;
        padding: 1em;
        margin-bottom: 0;
    }
}

/* #endregion */