.note-list {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.note-book-card {
    border-radius: 10px;
    background-color: var(--accented-background-color);
    padding: 10px 15px 15px 8px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.note-book-card.archived {
    opacity: 0.5;
}

.note-book-card:not(.expanded) .note-book-content {
    padding: 10px
}

.note-book-card.expanded .note-book-content {
    display: block;
    min-height: 0;
    height: 100%;
    padding-top: 10px;
}

.note-book-content .rendered-content {
    height: 100%;
}

.note-book-header {
    border-bottom: 1px solid var(--main-border-color);
    margin-bottom: 0;
    padding-bottom: .5rem;
    word-break: break-all;
    flex-shrink: 0;
}

/* not-expanded title is limited to one line only */
.note-book-card:not(.expanded) .note-book-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note-book-header .rendered-note-attributes {
    font-size: medium;
}

.note-book-header .rendered-note-attributes:before {
    content: "\00a0\00a0";
}

.note-book-header .note-icon {
    font-size: 100%;
    display: inline-block;
    padding-inline-end: 7px;
    position: relative;
}

.note-book-card .note-book-card {
    border: 1px solid var(--main-border-color);
}

.note-book-content.type-image, .note-book-content.type-file, .note-book-content.type-protectedSession {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
}

.note-book-content.type-image img, .note-book-content.type-canvas svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.note-book-card.type-image .note-book-content img,
.note-book-card.type-text .note-book-content img,
.note-book-card.type-canvas .note-book-content img {
    max-width: 100%;
    max-height: 100%;
}

.note-book-header {
    flex-grow: 0;
}

.note-list-wrapper {
    height: 100%;
    overflow: auto;
}

.note-list-pager {
    text-align: center;
}

/* #region List view */

@keyframes note-preview-show {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

:root .nested-note-list {
    --card-nested-section-indent: 40px;
}

/* List item */
.nested-note-list-item {

    h5 {
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: normal;
        margin: 0;
    }

    .note-expander {
        margin-inline-end: 4px;
        font-size: x-large;
        cursor: pointer;
    }

    .tn-icon {
        margin-inline-end: 8px;
        color: var(--note-list-view-icon-color);
        font-size: 1.2em;
    }

    .note-book-title {
        --link-hover-background: transparent;
        --link-hover-color: currentColor;
        color: inherit;
        font-weight: normal;
    }

    .note-path {
        margin-left: 0.5em;
        vertical-align: middle;
        opacity: 0.5;
    }

    .note-list-attributes {
        flex-grow: 1;
        margin-inline-start: 1em;
        text-align: right;
        font-size: .75em;
        opacity: .75;
    }

    .nested-note-list-item-menu {
        margin-inline-start: 8px;
        flex-shrink: 0;
    }

    &.archived {
        .note-book-title,
        .tn-icon {
            opacity: .75;
        }
    }

    &.use-note-color {
        span.tn-icon + span,
        .nested-note-list:not(.search-results) & .tn-icon,
        .rendered-note-attributes {
            color: var(--custom-color);
        }
    }
}

.nested-note-list:not(.search-results) h5 {
    span.tn-icon + span,
    .note-list-attributes {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* List item (search results view) */
.nested-note-list.search-results .nested-note-list-item {
    span.tn-icon + span > span {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    small {
        line-height: .85em;
    }

    .note-path {
        margin-left: 0;
        font-size: .85em;
        line-height: .85em;
        font-weight: 500;
        letter-spacing: .5pt;
    }

    .tn-icon {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 1.75em;
        height: 1.75em;
        margin-inline-end: 12px;
        border-radius: 50%;
        background: var(--note-icon-custom-background-color, var(--note-list-view-large-icon-background));
        font-size: 1.2em;
        color: var(--note-icon-custom-color, var(--note-list-view-large-icon-color));
    }

    h5 .ck-find-result {
        background: var(--note-list-view-search-result-highlight-background);
        color: var(--note-list-view-search-result-highlight-color);
        font-weight: 600;
        text-decoration: underline;
    }
}

/* Note content preview */
.nested-note-list .note-book-content {
    display: none;
    outline: 1px solid var(--note-list-view-content-background);
    border-radius: 8px;
    background-color: var(--note-list-view-content-background);
    overflow: hidden;
    user-select: text;
    font-size: .85rem;
    animation: note-preview-show .25s ease-out;
    will-change: opacity;

    &.note-book-content-ready {
        display: block;
    }

    > .rendered-content > *:last-child {
        margin-bottom: 0;
    }

    &.type-text {
        padding: 8px 24px;

        .ck-content > *:last-child {
            margin-bottom: 0;
        }
    }

    &.type-protectedSession {
        padding: 20px;
    }

    &.type-image {
        padding: 0;
    }

    &.type-pdf {
        iframe {
            height: 50vh;
        }

        .file-footer {
            padding: 8px;
        }
    }

    &.type-webView {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 50vh;
    }

    .ck-find-result {
        outline: 2px solid var(--note-list-view-content-search-result-highlight-background);
        border-radius: 4px;
        background: var(--note-list-view-content-search-result-highlight-background);
        color: var(--note-list-view-content-search-result-highlight-color);
    }
}

.note-content-preview:has(.note-book-content:empty) {
    display: none;
}

/* #endregion */

/* #region Grid view */
.note-list.grid-view .note-list-container {
    display: flex;
    flex-wrap: wrap;
}

.note-list.grid-view .note-book-card {
    flex-basis: 300px;
    border: 1px solid transparent;
}

.note-list.grid-view .note-book-card {
    max-height: 300px;
}

.note-list.grid-view .note-book-card img {
    max-height: 220px;
    object-fit: contain;
}

.note-list.grid-view .note-book-card:hover {
    cursor: pointer;
    border: 1px solid var(--main-border-color);
    background: var(--more-accented-background-color);
}

.note-list.grid-view .note-path {
    margin-left: 0.5em;
    vertical-align: middle;
    opacity: 0.5;
}
/* #endregion */
