body.experimental-feature-new-layout .note-paths-widget {
    .note-path-intro {
        color: var(--muted-text-color);
    }

    .note-path-list {
        margin: 12px 0;
        padding: 0;
        list-style: none;

        /* Note path card */
        li {
            --border-radius: 6px;

            position: relative;
            background: var(--card-background-color);
            padding: 8px 20px 8px 25px;

            &:first-child {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
            }

            &:last-child {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }

            & + li {
                margin-top: 2px;
            }

            /* Current path arrow */
            &.path-current::before {
                position: absolute;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                content: "\ee8f";
                top: 0;
                left: 0;
                width: 20px;
                bottom: 0;
                font-family: "boxicons";
                font-size: .75em;
                color: var(--menu-item-icon-color);
            }
        }

        /* Note path segment */
        a {
            margin-inline: 2px;
            padding-inline: 2px;
            color: currentColor;
            font-weight: normal;
            text-decoration: none;

            /* The last segment of the note path */
            &.basename {
                color: var(--muted-text-color);
            }
        }

    }
}
