.scrolling-container {
    --content-margin-inline: 24px;

    overflow: auto;
    scroll-behavior: smooth;
    position: relative;

    > .note-detail > .note-detail-editable-text > .note-detail-editable-text-editor,
    > .note-list-widget:not(.full-height) .note-list-wrapper {
        margin-inline: var(--content-margin-inline);
    }

    > .inline-title {
        padding-inline: var(--content-margin-inline);
    }

    > .note-detail > .note-detail-editable-text > .note-detail-editable-text-editor {
        overflow: unset;
    }
}

.note-split.type-code:not(.mime-text-x-sqlite) {
    &> .scrolling-container {
        background-color: var(--code-background-color);
        --scrollbar-background-color: var(--main-background-color);
    }

    .inline-title,
    .title-actions {
        background-color: var(--main-background-color);
    }
}
