body.mobile {
    .classic-toolbar-outer-container {
        contain: none !important;
    }

    .classic-toolbar-outer-container.visible {
        height: 38px;
        position: relative;
        overflow: visible;
        flex-shrink: 0;
    }

    #root-widget.ios.virtual-keyboard-opened .classic-toolbar-outer-container {
        position: absolute;
        inset-inline-start: 0;
        inset-inline-end: 0;
        bottom: 0;
    }

    .classic-toolbar-widget {
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        inset-inline-end: 0;
        height: 38px;
        overflow: scroll;
        display: flex;
        align-items: flex-end;
        user-select: none;
        touch-action: pan-x;
        scrollbar-width: 0 !important;
    }

    .classic-toolbar-widget::-webkit-scrollbar:horizontal {
        height: 0 !important;
    }

    .classic-toolbar-widget.dropdown-active {
        height: 50vh;
    }

    .classic-toolbar-widget .ck.ck-toolbar {
        --ck-color-toolbar-background: var(--main-background-color);
        --ck-color-button-default-background: transparent;
        --ck-color-button-default-disabled-background: transparent;
        position: absolute;
        border: none;
    }

    .classic-toolbar-widget .ck.ck-button.ck-disabled {
        opacity: 0.3;
    }
}
